.slide-figure {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100vh !important;
    width: 100% !important;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
    color: #f39016;
}

.h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 0;
}

p {
    font-size: 14px;
}

h2 {
    color: #f39016;
    font-size: 14px;
    margin: 20px 0;
}

.scroll-content {
    padding-left: 20px;
    height: 60vh;
}