.slide-figure {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100vh !important;
    width: 100% !important;
}

.carousel-custom {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 25%;
    left: 25%;
}

p{
   margin-bottom: 15px;
}
