<div id="events-content-scroller"  class="scroll-content">
<h4>Catering:</h4>
<p>Verandah Progressive Indian Restaurant also provides full-service catering for a variety of formal and informal events, including corporate receptions, breakfasts and lunches. In addition, we can provide for indoor or outdoor events, onsite cooking and presentations, Sangeet, Mehndi, birthday parties, plus wedding receptions and related events. We can provide set menus or design specific menus to fit any occasion. We cater to create experiences.</p>

</div>
