<div id="lunch-scroller"  class="scroll-content">
  <h4>Prix Fixe 3 course Executive Lunch $ 20 plus taxes</h4>
<p>
    Verandah progressive menu showcases pure flavors, masterful techniques and chef Sunil creative vision. Taking a
    thoughtful approach to fine dining, Diners appreciate the flavors in their purest form. Drawing on his years of
    experience working across four continents, and driven by his innate sense of curiosity, Sunil Srivastava has reexamined
    how to best express taste. Through his considered approach, the finely constructed dishes showcase clean flavors and the
    freshest natural ingredients.
</p>
  <!--
  <h3>Appetizers</h3>
  <p>Choose any one</p>
  <div class="h4">Ajwaini Gobi</div>
  <p>Crispy cauliflower, onion, tomato, carom seed sauce</p>

  <div class="h4">Palak ki Chaat</div>
  <p>Baby spinach, gram flower, tangy spicy chutneys</p>

  <div class="h4">Murgh Malai Tikka</div>
  <p>Chicken breast, cream cheese cardamom marinade, cooked over amber</p>

  <div class="h4">Jhinga Lasooni</div>
  <p>Garlic chilly marinated shrimps from tandoor</p>



 <h3>Main Course</h3>

  <div class="h4">Laajawab Maas</div>
  <p>Stewed lamb, caramalized onion, tomato sauce</p>
  <div class="h4">Murgh Bemisal</div>
  <p>Chicken tikka, creamy tomato, onion sauce, fenugreek</p>

  <div class="h4">Konkan Shrimp Curry</div>
  <p>
    Shrimps, curry leaves coconut milk
  </p>

 <div class="h4">Palak Paneer</div>
  <p>
    Indian cottage cheese, stewed spinach
  </p>

  <div class="h4">Marwadi Aloo Dum</div>
  <p>
    Baby russet Potato, thin Tomato sauce, Asafetida, Cilantro
  </p>

  <div class="h4">Amritsari Chole</div>
  <p>
    Stewed garbanzo, house Spice blend
  </p>

  <div class="h4">Served with aged Basmati Rice and Panch Poran Tadka Subzi and Naan / Gnann / Roti </div>

  <h3>Dessert</h3>
  <p>No meal is complete without a Dessert Choose any one </p>
  <div class="h4">Kheer </div>
  <p>Rice Jaggery, Almonds and Raisins</p>

  <div class="h4">Spiced Lemon Malai</div>
  <p>Chef's special Lemon Cream with fresh hand pounded Mint & Spices</p>



  <h4>Executive Luncheon</h4>
  <h3>Appetizers</h3>
  <ul>
    <li>
      <div class="h4">Samosa Chaat</div>
      <div class="price">
        8.99
      </div>
      <p>Indian pastry, stewed garbanzo, mint, tamarind chutney</p>
    </li>
    <li>
      <div class='h4'>Aloo Tikki chole</div>
      <div class="price">
        8.99
      </div>
      <p>Potato steaks, stewed garbanzo, onion, tomato</p>
    </li>
    <li>
      <div class='h4'>Bhel</div>
      <div class="price">
        8.99
      </div>
      <p>Spiced puff rice, roasted garbanzo, sweet and sour chutneys</p>
    </li>
    <li>
      <div class='h4'>Papdi Chaat</div>
      <div class="price">
        8.99
      </div>
      <p>Potato, garbanzo salad, crisp Indian nachos, yoghurt, chutneys.</p>
    </li>
    <li>
      <div class='h4'>Pani Poori</div>
      <div class="price">
        8.99
      </div>
      <p>Puff patry, sprouts and potato stuffing, spicy cumin mint water.</p>
    </li>
    <li>
      <div class='h4'>Soup of the day </div>
      <div class="price">
        8.99
      </div>
    </li>
    <li>
      <div class='h4'>Chef's special salad</div>
      <div class="price">
        8.99
      </div>
    </li>

    <li>
      <div class='h4'>Railway Omelette </div>
      <div class="price">
        8.99
      </div>
      <p>Flat open face egg Omelette with onion, tomatoes and spices. </p>
    </li>
  </ul>


  <h4>The Street food of India!</h4>
  <h3>Katti Rolls </h3>
  <div class="h4">Two Desi wraps choice of meats, seafood or vegetables</div>
  <ul>
    <li>
      <div class="h4">Methi Paneer</div>
      <div class="price">
        14.99
      </div>
      <p>Fenugreek flavored Cottage cheese peppers & onions.</p>
    </li>

    <li>
      <div class="h4">Taazi Subz</div>
      <div class="price">
        14.99
      </div>
      <p>Fresh vegetables tossed in a very mild flavored sauce</p>
    </li>


    <li>
      <div class="h4">Mushroom Do Pyaza </div>
      <div class="price">
        14.99
      </div>
      <p>Fennel and ginger flavored mushrooms with onions. </p>
    </li>


    <li>
      <div class="h4">Achari Aloo</div>
      <div class="price">
        14.99
      </div>
      <p>Pickling spiced potato with onions.</p>
    </li>

    <li>
      <div class="h4">Anda kathi</div>
      <div class="price">
        15.99
      </div>
      <p>Scrambled Eggs and spices with onion and ginger.</p>
    </li>

    <li>
      <div class="h4">Chicken Tikka Kathi</div>
      <div class="price">
        15.99
      </div>
      <p>Oven Cooked Chicken, bells, onion & hand pound masalas.</p>
    </li>

    <li>
      <div class="h4">Awadhi Lamb </div>
      <div class="price">
        16.99
      </div>
      <p>Lamb sheekh Kebab with spiced onion and chilly</p>
    </li>

    <li>
      <div class="h4">Amritsari Salmon Masala</div>
      <div class="price">
        17.99
      </div>
      <p>Salmon, grilled and well blended with spices.</p>
    </li>

    <li>
      <div class="h4">Kathi Combo Veg/Non-Veg</div>
      <div class="price">
        14.99/ 16.99
      </div>
      <p>Consists of the soup n salad of the day
        with any single wrap of your choice</p>
    </li>
  </ul> -->
</div>
<a href="/assets/menu/2-Verandah-Lunch-Menu-2019.pdf" class="btn btn-download" download> Download Lunch Menu</a> <a href="/assets/menu/2-Verandah-Lunch-Menu-2019.pdf" target="_blank" class="btn btn-readmore"> READ MORE</a>
