$orange: #f39016;
.home-container {
    overflow: hidden;
    text-align: center;
    // background-image: url("src/assets/images/pattern.png");
    background-color: #fff;
    .about {
        min-height: 100vh;
        padding-top: 100px;
        h4 {
            font-size: 60px;
            color: $orange;
            letter-spacing: 2px;
            margin-top: 0;
        }
        p {
            font-size: 18px;
            line-height: 36px;
            margin-bottom: 20px;
            color: #000;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
        }
        .small-sep {
            width: 100px;
            height: 2px;
            margin: 10px auto 20px;
            background-color: $orange;
        }
        .about-scroll-content{
          height: 50vh;
          padding: 0 50px;
        }
    }
}
