<div id="dinner-scroller" class="scroll-content">
  <h3>Amuse Bouche</h3>
  <ul>
    <li>
      <div class="h4">Appetizer Choose one</div>
      <p>Harissa Paneer Tikka</p>
      <p>Punjabi Tikhe Mushroom</p>
      <p>Makai Ke Gilawat</p>
      <p>Shallow Fried Cod Amritsari</p>
      <p>Firdausi Chicken Sheekh</p>
      <p>Sikhampur Gosht Kebab</p>
      <p>Crisp Fried Dumplings, Stuffed with Spiced Potatoes & Peas</p>
    </li>
    <li>
      <div class="h4">Main Course choose any one</div>
      <p>Paneer Pasanda Lababdar</p>
      <p>Cabbage Dolma (Stuffed with Achari Subziyan)</p>
      <p>Banana Flower Kofta</p>
      <p>Murgh Ke Pahrche</p>
      <p>Sous Vide Duck</p>
      <p>Lamb Loin Chops</p>
    </li>
  </ul>
</div>


<a href="/assets/menu/mothersdaytasting.pdf" class="btn btn-download" download> Download Mother's Day Tasting Menu </a> <a href="/assets/menu/mothersdaytasting.pdf" target="_blank" class="btn btn-readmore"> READ MORE </a>
