<div class="scroll-content" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
  <h4>Prix Fixe Executive Brunch $ 20 plus taxes</h4>
  <p>- Vegetarian (V) - Vegan (VG) - Gluten Free (GF)</p>
  <h3>First Course</h3>
  <p>Choose any one</p>
  <ul>
    <li>
      <div class="h4">
        Sweet Potato, Moong dal sprouts, coconut, crunchy seeds, peanuts and mustard (VG/ GF)
      </div>
    <li>
      <div class="h4">
        Orange and Beetroot salad with goat cheese kebab (V/ GF)
      </div>
    <li>
      <div class="h4">
        Chicken Tikka Vol-au-vents with radish and cucumber slaw
      </div>
    <li>
      <div class="h4">
        Masala poached Eggs Benedict
      </div>
      <p>Delicately poached egg over Khameeri Kulcha, tomato jam crowned with minty hollandaise</p>
    </li>
  </ul>

  <h3>Second Course</h3>
  <p>Choose any one</p>
  <ul>
    <li>
      <div class="h4">
        Masala Fried Fish
      </div>
      <p>With curry leaves and cumin, tomato rice and spiced onion marmalade</p>
    </li>
    <li>
      <div class="h4">
        Dosai (V/ GF)
      </div>
      <p>layers of Avocado cream, coconut chutney, potato and peas mash</p>
    <li>
      <div class="h4">
        Bacon te besan chilla
      </div>
      <p>Indian answer to pancakes with chickpea flour, turkey bacon</p>
    </li>
    <li>
      <div class="h4">
        Chicken kathi rolls
      </div>
      <p>Indian Taco with pulled tandoori chicken, onion, capsicum and herbs.</p>
    </li>
  </ul>
</div>
<a href="/assets/menu/1-Verandah-Brunch-Menu-2019.pdf" class="btn btn-download" download> Download Brunch Menu</a> <a href="/assets/menu/1-Verandah-Brunch-Menu-2019.pdf" target="_blank" class="btn btn-readmore"> READ MORE</a>
