<div class="pt-1">

    <section class="home-page">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img class="d-block w-100 img-fluid" src="../../assets/images/4.jpg" alt="First slide">
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block w-100 img-fluid" src="../../assets/images/5.jpg" alt="Second slide">
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block w-100 img-fluid" src="../../assets/images/6.jpg" alt="Third slide">
            </ng-template>
            <!-- <ng-template ngbSlide>
                <img class="d-block w-100 img-fluid" src="../../assets/images/7.jpg" alt="Fourth slide">
            </ng-template> -->
        </ngb-carousel>
    </section>

    <section class="about-page">
      <div class="article">
        <h4 class="mt-5">About Us</h4>
        <app-about-content></app-about-content>
      </div>

      <div class="article">
        <div class="team-page">
            <div class="founder1" id="founder1">
              <h5>Our Story</h5>
                <img class="d-block w-100 img-fluid" src='../../assets/images/founders.jpg' alt="First slide">
                <div class="px-10" id="founder">
                    <app-founder></app-founder>
                </div>
            </div>
        </div>
      </div>
    </section>

    <section class="menu-page">
      <div class="article">
        <div class="dining-room" id="brunch">
          <h5 class="px-10">BRUNCH</h5>
            <img class="d-block w-100 img-fluid" src='../../assets/images/food/1.jpg' alt="First slide">
            <app-brunch></app-brunch>
        </div>
      </div>
      <div class="article">
        <div class="lounge" id="lunch">
          <h5 class="px-10">LUNCH</h5>
            <img class="d-block w-100 img-fluid" src='../../assets/images/food/4.jpg' alt="First slide">
            <app-lunch></app-lunch>
        </div>
      </div>
      <div class="article">
        <div class="wine" id="dinner">
          <h5 class="px-10">DINNER</h5>
            <img class="d-block w-100 img-fluid" src='../../assets/images/food/3.jpg' alt="First slide">
            <app-dinner></app-dinner>
        </div>
      </div>
          <div class="article">
            <div class="dining-room" id="cocktails">
              <h5 class="px-10">LIQUOR &amp; COCKTAILS</h5>
                <img class="d-block w-100 img-fluid" src='../../assets/images/wine/wine.jpg' alt="First slide">
                <app-cocktails></app-cocktails>
            </div>
          </div>
          <div class="article">
            <div class="lounge" id="wine">
              <h5 class="px-10">WINE</h5>
                <img class="d-block w-100 img-fluid" src='../../assets/images/wine/wine6.jpg' alt="First slide">
                <app-wine></app-wine>
            </div>
          </div>
          <div class="article">
            <div class="wine" id="chefs-tasting">
                <h5 class="px-10">CHEF'S TASTING</h5>
                <img class="d-block w-100 img-fluid" src='../../assets/images/food/3.jpg' alt="First slide">
                <app-chef-tasting></app-chef-tasting>
            </div>
          </div>
          <div class="article">
            <div class="wine" id="verandah-tasting">
                <h5 class="px-10">VERANDAH TASTING</h5>
                <img class="d-block w-100 img-fluid" src='../../assets/images/food/11.jpg' alt="First slide">
                <h3>Coming Soon</h3>
            </div>
          </div>
          <div class="article">
            <div class="wine" id="veg-tasting">
                <h5 class="px-10">VEGETARIAN TASTING</h5>
                <img class="d-block w-100 img-fluid" src='../../assets/images/food/12.jpg' alt="First slide">
                <h3>Coming Soon</h3>
            </div>
          </div>
          <!-- <div class="article">
            <div class="mothersday-tasting" id="mothersday-tasting">
              <h5 class="px-10">MOTHER'S DAY TASTING</h5>
                <img class="d-block w-100 img-fluid" src='../../assets/images/food/12.jpg' alt="First slide">
                <app-mothers-day></app-mothers-day>
            </div>
          </div> -->
    </section>

    <section class="events-page">
    <div class="article">
        <div class="event" id="catering">
          <h5 class="px-10">Catering</h5>
            <img class="d-block w-100 img-fluid" src="../../assets/images/food/events-bg.jpg" alt="First slide">
            <app-events-content></app-events-content>
            <div class="px-10">
                <!-- <div data-tockify-component="calendar" data-tockify-calendar="vinay.kumar.rama"></div> -->
            </div>
        </div>
      </div>
    <div class="article">
        <div class="press" id="atVerandah">
          <h5 class="px-10">AT VERANDAH</h5>
            <img class="d-block w-100 img-fluid" src="../../assets/images/19.jpg" alt="First slide">
            <app-atverandah></app-atverandah>
        </div>
    </div>
    <div class="article">
        <div class="careers" id="gallery">
          <h5 class="px-10">GALLERY</h5>
            <img class="d-block w-100 img-fluid" src="../../assets/images/food/events-bg.jpg" alt="First slide">
            <h3>Coming Soon</h3>
        </div>
      </div>
    </section>
    <section class="media-page">
      <div class="article">
        <div class="event" id="pressRelease">
          <h5 class="px-10">PRESS RELEASE</h5>
            <img class="d-block w-100 img-fluid" src="../../assets/images/food/11.jpg" alt="First slide">
              <app-press-content></app-press-content>
        </div>
      </div>
      <div class="article">
        <div class="press" id="pressArchives">
          <h5 class="px-10">PRESS ARCHIVES</h5>
            <img class="d-block w-100 img-fluid" src="../../assets/images/food/12.jpg" alt="First slide">
            <app-wkana-express></app-wkana-express>
        </div>
      </div>
      <div class="article">
        <div class="careers" id="mediaContact">
            <h5 class="px-10">MEDIA CONTACT</h5>
            <img class="d-block w-100 img-fluid" src="../../assets/images/food/13.jpg" alt="First slide">
            <div class="scroll-content">
              <p class="lead mt-3">
                Mark G Hanna,
                </p>
              <p>
                Customer First Public Relations
                </p>
            <p>T: <a href="callto:+12818709994">(281) 870 9994</a></p>
            <p>E: <a href="mailto:Mtexas1969@aol.com">Mtexas1969@aol.com</a> </p>
            </div>
        </div>
      </div>
    </section>
  <section class="Careers">
    <div class="article">
      <div class="careers" id="careers">

        <h5 class="px-10">CAREERS</h5>
        <img class="d-block w-100 img-fluid" src="../../assets/images/careers.jpg" alt="First slide">
        <div class="px-15">
          <p class="mt-5">
            We are constantly looking for good talent. If you feel you have it in you, connect with us.
            </p>
          <h4>Reach us: </h4>
          <p>
            3300 Kirby Drive, Suite 7A, <br />
          Kirby Collections, Houstan, TX 77098
            </p>
          <p>
            T: <a href="callto:+18328864291"> (832) 886 4291 </a>
            </p>
          <p>
            Email your CV to  <a href="mailto:wkanacafe@gmail.com">wkanacafe@gmail.com</a>
            </p>
          </div>

      </div>
    </div>
  </section>
    <section class="contact-page">
      <div class="article">
        <div class="contact" id="contact">
          <h5 class="px-10">CONTACT</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3464.455178918033!2d-95.42099438448838!3d29.73553714005305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c0f272dc4333%3A0x4dea2c84887ca041!2s3300+Kirby+Dr%2C+Houston%2C+TX+77098%2C+USA!5e0!3m2!1sen!2sin!4v1553145527209"
                class="w-100 h-100" frameborder="0" style="border:0" allowfullscreen></iframe>
            <app-contact-us></app-contact-us>
        </div>
      </div>
    </section>
</div>
