<div id="lunch-scroller"  class="scroll-content">
  <h3>Hand Crafted SPpecial Cocktails</h3>
    <ul>
      <li>
        <div class="h4">Vodka Shikanji</div>
        <div class="price">14</div>
        <p>Black salt, sweet and sour</p>
      </li>
      <li>
        <div class="h4">Rooh Afza Cosmo</div>
        <div class="price">14</div>
        <p>Rooh Afza, Orange, Lemon, Vodka</p>
      </li>
      <li>
        <div class="h4">Banarasi Paan Mojito</div>
        <div class="price">14</div>
        <p>Meetha Paan, Lemon, Rum</p>
      </li>
      <li>
        <div class="h4">Sharabi Lassi</div>
        <div class="price">14</div>
        <p>churned yoghurt, whiterum</p>
      </li>
      <li>
        <div class="h4">Imli Martini</div>
        <div class="price">14</div>
        <p>Tamarind Juice, Lemon, Tequila</p>
      </li>
      <li>
        <div class="h4">Dirty Martini</div>
        <div class="price">14</div>
      </li>
      <li>
        <div class="h4">Masala Chai Bourbon</div>
        <div class="price">12</div>
        <p>Cream, spiced tea, Bourbon</p>
      </li>
      <li>
        <div class="h4">Aampanna Punch</div>
        <div class="price">12</div>
        <p>Raw mango, mint, black pepper, Rye Whiskey</p>
      </li>
      <li>
        <div class="h4">Ginger Mingler</div>
        <div class="price">12</div>
        <p>Ginger, Lemon, Whiskey</p>
      </li>
      <li>
        <div class="h4">PK Banarasi</div>
        <div class="price">12</div>
        <p>Betelnut flavored Gin</p>
      </li>
      <li>
        <div class="h4">Southern Somrus</div>
        <div class="price">12</div>
        <p>Curry Leaves, Jaggery, infused Dark Rum</p>
      </li>
      <li>
        <div class="h4">Mirchi Mumtaz</div>
        <div class="price">12</div>
        <p>Mango impregnated with Chilly and Vodka</p>
      </li>
      <li>
        <div class="h4">Coco Jumbo</div>
        <div class="price">12</div>
        <p>Coconut cream, chocolate, White Rum</p>
      </li>
      <li>
        <div class="h4">Moscow Mule</div>
        <div class="price">12</div>
      </li>
      <li>
        <div class="h4">Daiquiri</div>
        <div class="price">12</div>
      </li>
      <li>
        <div class="h4">Whiskey Saar</div>
        <div class="price">12</div>
      </li>
      <li>
        <div class="h4">Mojito</div>
        <div class="price">12</div>
      </li>
    </ul>
  
    <h3>Hand Crafted Mocktails</h3>
  
    <ul>
      <li>
        <div class="h4">Kheera Te Jeera</div>
        <div class="price">8</div>
        <p>Cucumber, mint, cumin, with soda</p>
      </li>
      <li>
        <div class="h4">Phaldhari Mojito</div>
        <div class="price">8</div>
        <p>Fruit juices with sprite</p>
      </li>
      <li>
        <div class="h4">Aasmani Firdaus Lemony Blue Lagoon</div>
        <div class="price">8</div>
      </li>
      <li>
        <div class="h4">Rani Ki Chunri</div>
        <div class="price">8</div>
        <p>Cranberry juice, soda, lemon and Tang</p>
      </li>
      <li>
        <div class="h4">Mango lassi</div>
        <div class="price">5</div>
      </li>
      <li>
        <div class="h4">Salt lassi</div>
        <div class="price">5</div>
      </li>
      <li>
        <div class="h4">Sweet lassi</div>
        <div class="price">5</div>
      </li>
      <li>
        <div class="h4">Jal jeera</div>
        <div class="price">5</div>
      </li>
      <li>
        <div class="h4">Chaanch</div>
        <div class="price">5</div>
      </li>
    </ul>
</div>
<a href="/assets/menu/4-Verandah-Liquor-Cocktails-Menu-2019.pdf" class="btn btn-download" download> Download COCKTAILS Menu</a> <a href="/assets/menu/4-Verandah-Liquor-Cocktails-Menu-2019.pdf" target="_blank" class="btn btn-readmore"> READ MORE</a>
