<p style="text-align:justify">
    Our name "VERANDAH" is derived from the ancient independent houses and "the porch". It is usually the place that is built around a house or sometimes is a central couryard that is built within the house and comprises of columns with pillars that support the roof with a fresh flow of air. Verandah is a combination of two Sanskrit words "Vahir" that means outside and "Ander" that means inside. A Verandah is usually a place that is used to entertain friends and family who are visiting and also used to entertain guests.
</p>
<p style="text-align:justify">
    We have fond memories of our childhood in our ancestral houses back home in India and that is why we named it "VERANDAH" which specialises in serving age old recipes that have been well kept secrets for years in an ambiance that reflects our tradition though with a modern touch.
</p>
<p style="text-align:justify">
    Prior to inaugurating "VERANDAH" we were a culinary landmark known as W'kana. A name that was much appreciated by the locals of Houston and one amongst the top 100 Indian restaurants. We are delighted to invite back every one of our patrons who have been a pillar of support, to our new venture.
</p>
<p style="text-align:justify">
    The interiors of "VERANDAH" reflect classical painting that bring in a touch of our rich heritage yet deliver comfortable uber luxury seating for 75 guests with a formal ambiance that meets the taste of the modern age.
</p>
<p style="text-align:justify">
    "VERANDAH" also offers an Exclusive Private Dining Service for select individuals who seek to keep fine dining a private affair. The tastefully designed Private Dining Rooms ensures guests are comfortable in absolute privacy coupled with impeccable service of a dedicated butler and an exclusive menu set to your unique taste.
</p>
