<div id="founder-scroller" class="scroll-content">
  <p style="text-align:justify">
    Both Sunil and Anupama were born in India. Both are also graduates of the Institute of Hotel Management, he from the
    campus in Bangalore, and she from the campus in Chennai. Anupama is also a certified hospitality educator awarded by
    the American Hotel and Lodging Association. The couple have lived in many parts of the world, opened restaurants and
    shared a culinary love of Indian food and culture. In Houston, they opened the acclaimed Great W'Kana Café.
  </p>
  <p style="text-align:justify">
    Chef Sunil, was raised in a fun and food loving family. His passion for cooking was initially kindled in his
    childhood, from his mom. In his career, he has worked with the Masters of Bukhara, one of India's most famous
    restaurants in New Delhi, equally famed Dum Pukth in New Delhi, and worked with Famous hotels ITC and TAJ in India.
  </p>
  <p style="text-align:justify">
    Chef Sunil has had the privilege of cooking for world famous leaders, dignitaries, diplomats, theatre artists,
    leading musicians, actors & corporate leaders.
  </p>
  <p style="text-align:justify">
    While a certified chef in her own right, Anupama brings her own unique talents to the front of the restaurant with
    an uncanny knack for remembering faces and names and a flair for making guests feel like they have come home again.
    Away from the restaurant, she blends many of the teas used at the restaurant and at the restaurant’s bar. She and
    her mother also tend to a large home garden from which the restaurant gets much of its fresh produce.
  </p>
</div>