<div id="atverandah-scroller"  class="scroll-content">
  <h4>Private Dining at Verandah:</h4>
  <p>Available in the restaurant is a glassed-in semi-private room that can be used for private parties and meetings. This room can seat 20 and accommodate more people for standing events. While it has a full view of the main dining room and kitchen, glass doors provide for complete privacy. Audio and visual equipment can be arranged for. </p>

  <p>
    In a nook on one side of the main dining room is a spacious, round Chef’s Table for groups up to 6 people. At this table, made semi-private by the racks of wine around three sides, groups can arrange to enjoy specially-prepared dinners or tasting menus. Arrangements must be made in advance for this, and reservations are taken on a first-call, first-reserved basis. There is a minimum number of people required depending on the menu, and there is a cancellation fee.
    </p>

</div>
