<div id="wine-scroller" class="scroll-content">
  <p>
      The discovery of exquisite wines, paired with exceptional food and shared among friends, is one of life’s greatest
      pleasures. Our wine list is a celebration of the men and women who have devoted their lives to perfecting their
      signature; each with an almost fanatical approach to terroir, harvest and grape.
    </p>
</div>
      <!-- 
<h3>Red</h3>
<table class="table">
    <tr>
      <th>
        Brand
        </th>
        <th>
          Year
          </th>
          <th>
            Glass
            </th>
            <th>
              Bottle
            </th>
      </tr>
      <tbody>
        <tr>
            <td>
              <div class="h4">
                Valdubon Tempranillo, Rioja, Spain
                </div>
            </td>
            <td>
              2016
            </td>
            <td>
              $ 12
            </td>
            <td>
              $ 45
            </td>
        </tr>


        <tr>
            <td>
              <div class="h4">
                Louis Martini Cabernet Sauvignon
                </div>
            </td>
            <td>

            </td>
            <td>
              $ 11
            </td>
            <td>
            $   42
            </td>
        </tr>


        <tr>
            <td>
              <div class="h4">
                Barossa Valley Gsm Grenache – Shiraz - Mourvèdre, Australia
                </div>
            </td>
            <td>

            </td>
            <td>
              $ 12
            </td>
            <td>
              $ 45
            </td>
        </tr>



        <tr>
            <td>
              <div class="h4">
                Smith And Perry Pinot Noir
                </div>
            </td>
            <td>

            </td>
            <td>
              $ 12
            </td>
            <td>
              $ 45
            </td>
        </tr>

        <tr>
            <td>
              <div class="h4">
                Columbia Malbec
                </div>
            </td>
            <td>
              2016
            </td>
            <td>
              $ 10
            </td>
            <td>
              $ 36
            </td>
        </tr>

        <tr>
            <td>
              <div class="h4">
                Alamos Malbec
                </div>
            </td>
            <td>

            </td>
            <td>
              $ 10
            </td>
            <td>
              $ 36
            </td>
        </tr>

        <tr>
            <td>
              <div class="h4">
                Beaulieu Cabernet Sauvignon, Napa
                </div>
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
              $ 60
            </td>
        </tr>


        <tr>
            <td>
              <div class="h4">
                Chateau Eugenie Pierre Le Grand, France
                </div>
            </td>
            <td>
              2016
            </td>
            <td>

            </td>
            <td>
              $ 60
            </td>
        </tr>


        <tr>
            <td>
              <div class="h4">
                Maranges Rouge Jean-philippe Marchand, France
                </div>
            </td>
            <td>
              2016
            </td>
            <td>
              12
            </td>
            <td>
              45
            </td>
        </tr>


        <tr>
            <td>
              <div class="h4">
                Chateau Saint-sauturnin, Medoc, France
                </div>
            </td>
            <td>
              2016
            </td>
            <td>
              12
            </td>
            <td>
              45
            </td>
        </tr>


        <tr>
            <td>
              <div class="h4">
                Robert Mandavi, Red Blend, Cab Sav, Cab Franc, Merlot, Ca
                </div>
            </td>
            <td>
              2016
            </td>
            <td>
              12
            </td>
            <td>
              45
            </td>
        </tr>

        <tr>
            <td>
              <div class="h4">
                Austin Hope, Cabenet Sav, California
                </div>
            </td>
            <td>
              2016
            </td>
            <td>
              12
            </td>
            <td>
              45
            </td>
        </tr>
      </tbody>
</table>
<ul>
  <li>
    <div class="h4">la marca prosecco –veneto, italy</div>
    <div class="price"> 8</div>

  </li>
<li>
    <div class="h4">barone fini pinot grigio – alto adige, italy</div>
    <div class="price"> 12</div>
    </li>
<li>
    <div class="h4">crossings sauvignon blanc – awatere valley, new zealand	</div>
    <div class="price"> 6 </div>
    </li>
<li>
    <div class="h4">provenance chardonnay – carneros, california - 2016</div>
    <div class="price"> 14</div>
    </li>
</ul>

<h3>red varietals</h3>
<ul>
  <li>
    <div class="h4">j vineyards pinot noir – california - 2016</div>
    <div class="price"> 13</div>
  </li>
  <li>
    <div class="h4">villa pozzi nero d’avola – sicily, italy</div>
    <div class="price"> 6</div>
  </li>
  <li>
    <div class="h4">barossa valley estate shiraz – barossa valley, south australia</div>
    <div class="price"> 8</div>
  </li>
  <li>
    <div class="h4">josh cellars craftsman cabernet sauvignon – california</div>
    <div class="price"> 8 </div>
  </li>
</ul>
<h4>bottle selections</h4> -->

<!-- <h3>sparkling</h3>
<ul>
  <li>
    <div class="h4">at roca brut cava – penedes, catalunya - 2016</div>
    <div class="price"> 68 </div>
  </li>
  <li>
    <div class="h4">veuve clicquot yellow label brut – champagne, france nv</div>
    <div class="price"> 112</div>
  </li>
  <li>
    <div class="h4">louis roederer blanc de blanc – champagne, france - 2010</div>
    <div class="price"> 180</div>
  </li>
  <li>
    <div class="h4">ruinart rose – champagne, france				nv</div>
    <div class="price"> 210</div>
  </li>
  <h3>white varietals</h3>
  <li>
    <div class="h4">jermann pinot grigio – venezia giulia, italy - 2017</div>
    <div class="price"> 45 </div>
  </li>
  <li>
    <div class="h4">batasiolo gavi – piedmont, italy - 2016 </div>
    <div class="price"> 38 </div>
  </li>
  <li>
    <div class="h4">fleurs de prairie rose – cotes de provence, france - 2018</div>
    <div class="price"> 33 </div>
  </li>
  <li>
    <div class="h4">etude chardonnay – carneros, california	 - 2015	</div>
    <div class="price"> 66 </div>
  </li>
  <li>
    <div class="h4">jordan chardonnay – russian river valley, california - 2016</div>
    <div class="price"> 72 </div>
  </li>
</ul>


<h3>red varietals</h3>
<ul>
  <li>
    <div class="h4">the calling pinot noir fox den  - 2015</div>
    <div class="price"> 132</div>
    <p>russian river valley, california</p>
  </li>

  <li>
    <div class="h4">charles krug merlot – napa valley, california	 - 2014</div>
    <div class="price"> 63 </div>
  </li>
  <li>
    <div class="h4">castello di bolgheri superiore – tuscany - 2015</div>
    <div class="price"> 150</div>
  </li>
  <li>
    <div class="h4">valdubon tempranillo – rioja, spain	 - 2016</div>
    <div class="price"> 39 </div>
  </li>
  <li>
    <div class="h4">1865 carmenere single vineyard – maule valley, chile</div>
    <div class="price"> 42 </div>

  </li>
  <li>
    <div class="h4">beringer quantum – napa valley, california - 2015</div>
    <div class="price"> 75 </div>
  </li>
  <li>
    <div class="h4">stags leap winery cabernet sauvignon - 2015	</div>
    <div class="price"> 95 </div>
    <p>napa valley, california</p>
  </li>
</ul> 
-->
<a href="/assets/menu/5-Verandah-Wine-Sparklink-Menu-2019.pdf" class="btn btn-download" download> Download Wine Menu</a> <a href="/assets/menu/5-Verandah-Wine-Sparklink-Menu-2019.pdf" target="_blank" class="btn btn-readmore"> READ MORE</a>
