<div class="home-container">
  <div class="content">
    <div class="row ">
      <div class=" col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12 mt-md-5">
        <div class="mx-auto mx-sm-0 mx-xs-0 p-md-5 mt-md-5">
          <ngx-tabset (onSelect)="onTabClick($event)">
            <ngx-tab [active]="currentIndex === 0 || currentIndex === -1" tabTitle="RESERVATIONS">
              <p class="mt-5">We are
                currently accepting reservations</p>
            </ngx-tab>
            <ngx-tab [active]="currentIndex === 1" tabTitle="HOURS & INFORMATION">
              <div class="table-responsive-sm">
                <table class="table mt-5">
                  <thead>
                    <tr>
                      <th scope="col">RESERVATIONS</th>
                      <th scope="col">LUNCH</th>
                      <th scope="col">DINNER</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr mdbTableCol>
                      <td>Monday – Friday</td>
                      <td>12 pm – 2:30 pm</td>
                      <td>5:15 pm – 10:30 pm </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ngx-tab>
          </ngx-tabset>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="slide">
          <img class="w-100 img-fluid" src="../../assets/images/11.jpg" alt="First slide">
        </div>
        <div class="slide">
          <img class="w-100 img-fluid" src="../../assets/images/10.jpg" alt="First slide">
        </div>
      </div>
    </div>
  </div>
</div>