<div id="dinner-scroller" class="scroll-content">
  <h3>Appetizers</h3>
  <ul>
    <li>
      <div class="h4">Samosa</div>
      <div class="price"> 9</div>
      <p>Crisp-fried dumplings, stuffed with spiced potatoes & peas </p>
    </li>
    <li>
      <div class="h4">Saundhe Aloo Turnover</div>
      <div class="price"> 9</div>
      <p>Potato patties, in-house of blend spices over stewed garbanzo.</p>
    </li>
    <li>
      <div class="h4">Hara kebab</div>
      <div class="price"> 9</div>
      <p>Spinach, lentils, black cumin, ginger, cashew</p>
    </li>

    <li>
      <div class="h4">Beet Root ki Galouti</div>
      <div class="price"> 9</div>
      <p>Beet root, ginger, cilantro, chick pea, spiced</p>
    </li>

    <li>
      <div class="h4">Trio Tikki platter</div>
      <div class="price"> 9</div>
      <p>Saundhe aloo, beet root and hara kebab</p>
    </li>

    <li>
      <div class="h4">Ajwaini Gobi</div>
      <div class="price"> 11</div>
      <p>Crisp-fried cauliflower in garlic, tomato, carom seeds sauce</p>
    </li>


    <li>
      <div class="h4">Dahi aur Goat Cheese ke Keba</div>
      <div class="price"> 13</div>
      <p>Hung yoghurt, goat cheese, onion, cilantro, clove smoked</p>
    </li>

    <!-- <li>
      <div class="h4">Mysore Chilly Chicken</div>
      <div class="price"> 12.99</div>
      <p>Mustard, Curry leaves, Mint, Cilantro, Crisp Chicken</p>
    </li>

    <li>
      <div class="h4">Gosht Ke Gilawat</div>
      <div class="price"> 14.99</div>
      <p>Kebab that melt in your mouth, Chefs Special Spice Blend</p>
    </li>

    <li>
      <div class="h4">Kerala Shrimps</div>
      <div class="price"> 14.99</div>
      <p>Stir-Fried Shrimps flavored with Curry Leaves & Black Pepper</p>
    </li>

    <li>
      <div class="h4">Tandoori Appetizer Platter</div>
      <div class="price"> 20.99</div>
      <p>Sheekh Kebab, Peshawari Tikka & Lassoni Jheenga for 2</p>
    </li>
  </ul>




  <h3>Soup and Salads</h3>
  <ul>
    <li>
      <div class="h4">Murgh Goli Shorba </div>
      <div class="price"> 9.99</div>
      <p>Bold Chicken Consommé, Spiced, Chicken Dumplings</p>
    </li>
    <li>
      <div class="h4">Mulligatwany</div>
      <div class="price"> 9.99/ 10.99</div>
      <p>Red Lentils, Madras Curry, Lamb Optional </p>
    </li>
    <li>
      <div class="h4">Verandah House Salad</div>
      <div class="price"> 10.99</div>
      <p>Field Greens, Shaved Carrots, Sprouts, Chefs Special Vinaigrette</p>
    </li>
  </ul>




  <h3>From Tandoor (Clay oven)</h3>
  <div class="h4">Vegetarian</div>
  <ul>
    <li>
      <div class="h4">Ajwaini Paneer Tikka</div>
      <div class="price"> 19.99</div>
      <p>Yellow Chilli spiced Cottage Cheese, Carom Seeds</p>
    </li>

    <li>
      <div class="h4">Mili Juli Subz Sheekh</div>
      <div class="price"> 19.99</div>
      <p>Garden Fresh Vegetables, Garlic, Spice and Yoghurt, Cooked live on Amber</p>
    </li>

    <li>
      <div class="h4">Goolar Kebab</div>
      <div class="price"> 19.99</div>
      <p>Raw Banana, Spice Blend, Ground, Grilled</p>
    </li>
  </ul>







  <h3>Non Vegetarian Meats</h3>
  <ul>
    <li>
      <div class="h4">Tandoori Chicken Half / Full</div>
      <div class="price"> 18.99/ 28.99</div>
      <p>Whole Chicken, Marinated, cooked over Live Amber</p>
    </li>
    <li>
      <div class="h4">Murgh Malai Tikka</div>
      <div class="price"> 19.99</div>
      <p>Cream, Cheese, Cardamom, Chicken Breast, Skewered on live Charcoal</p>
    </li>
    <li>
      <div class="h4">Peshawari Tikka</div>
      <div class="price"> 19.99</div>
      <p>Chicken Thigh Meat, Frontier Spices, Chefs Specialty</p>
    </li>
    <li>
      <div class="h4">Lamb Sheekh Kebab</div>
      <div class="price"> 20.99</div>
      <p>Mint, Cloves Smoked Lamb Mince Skewers</p>
    </li>
    <li>
      <div class="h4">Tandoori Qualis</div>
      <div class="price"> 26.99</div>
      <p>Farm Raised, spiced </p>
    </li>
    <li>
      <div class="h4">Adraki Lamb Chops</div>
      <div class="price"> 4.99</div>
      <p>Lamb Chops, Ginger, Saffron, Yoghurt</p>
    </li>
    <li>
      <div class="h4">Tandoori mixed Platter</div>
      <div class="price"> 40.99</div>
      <p>Assortment of Sheekh Kebab, Peshawari Tikka & Lasooni Jheenga, Lamb Chops </p>
    </li>
  </ul>





  <h3>Non Vegetarian Sea Food</h3>
  <ul>
    <li>
      <div class="h4">Chatpati Machhi</div>
      <div class="price"> 18.00</div>
      <p>Tangy Spicy Marinate, Grilled Thilapia </p>
    </li>

    <li>
      <div class="h4">Jheenga Angarey</div>
      <div class="price"> 24.99</div>
      <p>Garlic, Green Chilly, Cilantro, Yoghurt, Tiger Shrimp </p>
    </li>

    <li>
      <div class="h4">Sarson Salmon</div>
      <div class="price"> 24.99</div>
      <p>Roasted Salmon Marinated with Grain Mustard & Chilly. </p>
    </li>

    <li>
      <div class="h4">Mirchi Mahi Tikka</div>
      <div class="price"> 32.99</div>
      <p>Sea Bass, King of Fishes in Chef’s Special Chilly Marinade.
        Check for availability</p>
    </li>

    <li>
      <div class="h4">Tandoori Lobster tails</div>
      <div class="price">  42.99 </div>
      <p>Per pound </p>
    </li>
  </ul>




  <h3>Accompaniments</h3>
  <ul>
    <li>
      <div class="h4">Raita</div>
      <div class="price"> 4.99</div>
      <p>Whipped Yoghurt, Cucumber, Tomato, Cumin</p>
    </li>

    <li>
      <div class="h4">Papad</div>
      <div class="price"> 4.99</div>
      <p>Crispy Lentil Pancakes </p>
    </li>

    <li>
      <div class="h4">Pickle</div>
      <div class="price"> 3.99</div>
      <p>Aged Raw Mango, Pickling Spices</p>
    </li>
  </ul>


  <h3>Vegetarian Entrée</h3>
  <ul>
    <li>
      <div class="h4">Dal Panchratan</div>
      <div class="price"> 15.95</div>
      <p>Five Yellow Lentils, Onion, Garlic, Chilly Asafoetida</p>
    </li>

    <li>
      <div class="h4">Dal Makhani</div>
      <div class="price"> 18.95</div>
      <p>Black Lentils, cooked 18-20 hrs, Ginger, Cilantro Spices</p>
    </li>


    <li>
      <div class="h4">Chole Amritsari</div>
      <div class="price"> 18.95</div>
      <p>Garbanzo Beans, Chefs Spice Blend, Pomegranate Seeds pd</p>
    </li>

    <li>
      <div class="h4">Subz Moillee</div>
      <div class="price"> 17.99</div>
      <p>Brocolli, Carrots, Beans cauliflower, Coconut Curry Sauce</p>
    </li>

    <li>
      <div class="h4">Palak Paneer</div>
      <div class="price"> 18.99</div>
      <p>Stewed Spinach, Garlic, Cream Spices, Cottage Cheese</p>
    </li>

    <li>
      <div class="h4">Paneer Tikka W'kana</div>
      <div class="price"> 18.99</div>
      <p>Rich Tomato Sauce, Spiced Smoked Cottage Cheese </p>
    </li>

    <li>
      <div class="h4">Sun Dried Tomato kofta</div>
      <div class="price"> 18.99</div>
      <p>Cottage dumplings, Sun Dried Tomatoes, Cashew Cream Sauce </p>
    </li>

    <li>
      <div class="h4">Kalongi Baigan</div>
      <div class="price"> 18.99</div>
      <p>Baby Eggplant, Wild Onion Seeds, Onion, Tomato Tamarind, Spiced</p>
    </li>

    <li>
      <div class="h4">Nargisi Kofta curry</div>
      <div class="price"> 18.99</div>
      <p>Lotus root, Onion Tomato Yoghurt, Fennel, Ginger</p>
    </li>

    <li>
      <div class="h4">Dum Aloo Bharwan</div>
      <div class="price"> 18.99</div>
      <p>Baby Potato, Cheese Apricot stuffing </p>
    </li>

    <li>
      <div class="h4">Mushroom Makai Mutter</div>
      <div class="price"> 18.99</div>
      <p>Baby Mushrooms, Corn Kernels, Green Peas, Mint Caramalised onion.</p>
    </li>

  </ul>





  <h3>NON-Vegetarian Entrée</h3>

  <ul>
    <li>
      <div class="h4">Chicken Tikka W'kana</div>
      <div class="price"> 22.99</div>
      <p>
        Chunky Tomato Onion, Cream, Skewered Chicken, Fenugreek</p>
    </li>


    <li>
      <div class="h4">Butter Chicken</div>
      <div class="price"> 22.99</div>
      <p>Our signature recipe, pulled Tandoori chicken in Rich Tomato Sauce</p>
    </li>

    <li>
      <div class="h4">Tariwala Chicken</div>
      <div class="price"> 22.99</div>
      <p>House Chicken Curry, Yoghurt, Caramelised Onion, Ginger Cilantro</p>
    </li>

    <li>
      <div class="h4">Kolhapuri Chicken</div>
      <div class="price"> 22.99</div>
      <p>Chicken Thigh, Fiery Coconut Gravy</p>
    </li>

    <li>
      <div class="h4">Lamb Rogan josh </div>
      <div class="price"> 24.99</div>
      <p>Lamb stewed slowly, Caramelised Onion, Saffron, Fennel Ginger</p>
    </li>

    <li>
      <div class="h4">Lamb Chettinad</div>
      <div class="price"> 24.99</div>
      <p>Lamb stewed slowly, Coconut, Star Anise, Peppers and Onion</p>
    </li>

    <li>
      <div class="h4">Konkan Shrimp Curry</div>
      <div class="price"> 26.99</div>
      <p>Tiger Shrimps, Coconut, Curry Sauce</p>
    </li>

    <li>
      <div class="h4">Bombay Fish masala</div>
      <div class="price"> 32.99</div>
      <p>Bell Peppers, Onion, Coconut, Tomato, Sea Bass Lemon</p>
    </li>

  </ul>

  <h3>Rice and Biryani</h3>

  <ul>
    <li>
      <div class="h4">Saffron Rice</div>
      <div class="price"> 6.95</div>
      <p>Aged Basmati Rice, Spanish Saffron</p>
    </li>

    <li>
      <div class="h4">Vegetable Biryani</div>
      <div class="price"> 20.99</div>
      <p>Fresh Vegetables and aged Basmati Rice with Saffron cooked on Dum</p>
    </li>

    <li>
      <div class="h4">Mushroom and Apricot Biryani</div>
      <div class="price"> 20.99</div>
      <p>Mushrooms, Apricots, aged Basmati Rice with Cranberries</p>
    </li>

    <li>
      <div class="h4">Katahal Biryani </div>
      <div class="price"> 22.99</div>
      <p>Jack Fruit, hand Pounded Spices, aged Basmati Rice Cooked on Dum</p>
    </li>

    <li>
      <div class="h4">Egg Masala Biryani</div>
      <div class="price"> 20.99</div>
      <p>Boiled Eggs, aged Basmati rice, Cooked on Dum</p>
    </li>

    <li>
      <div class="h4">Awadhi Chicken Biryani</div>
      <div class="price"> 22.95</div>
      <p>Basmati Rice Cooked on Dum with Boneless Chicken, flavored with aromatic Spice blend</p>
    </li>

    <li>
      <div class="h4">Lamb Biryani</div>
      <div class="price"> 24.95</div>
      <p>Boneless Lamb Cooked on Dum with Basmati Rice & Spices</p>
    </li>

    <li>
      <div class="h4">Goat Biryani</div>
      <div class="price"> 28.95</div>
      <p>Aged Basmati Rice, Goat, saffron, Mint and Spices, Cooked on Dum</p>
    </li>

    <li>
      <div class="h4">Moplah Shrimp Biryani</div>
      <div class="price"> 28.95</div>
      <p>Tiger Shrimps Sautéed with Basmati Rice & Spices</p>
    </li>
  </ul>


  <h3>Breads</h3>

  <ul>
    <li>
      <div class="h4">Tandoori Roti</div>
      <div class="price"> 3.50</div>
      <p>Whole Wheat Bread Baked in the Tandoor</p>
    </li>

    <li>
      <div class="h4">Tandoori Naan</div>
      <div class="price"> 4.00</div>
      <p>Leavened Bread Baked in the Tandoor</p>
    </li>

    <li>
      <div class="h4">W'kana Naan</div>
      <div class="price"> 4.25</div>
      <p>Naan topped with a choice of Garlic Chive or Rosemary & Olive oil or Kalaunji</p>
    </li>

    <li>
      <div class="h4">W'Kana Contemporary Naan</div>
      <div class="price"> 4.75</div>
      <p>Naan topped with a choice of Pesto or Avocado</p>
    </li>

    <li>
      <div class="h4">Kulcha</div>
      <div class="price"> 4.50</div>
      <p>Leavened Bread Stuffed with a choice of Onion or Masala Potato or Paneer</p>
    </li>

    <li>
      <div class="h4">Lacha Paratha</div>
      <div class="price"> 4.50</div>
      <p>Flaky & Layered Whole Wheat Bread</p>
    </li>

    <li>
      <div class="h4">Roomali Roti</div>
      <div class="price"> 5.50</div>
      <p>Thin bread like handkerchief</p>
    </li>

    <li>
      <div class="h4">Assorted Bread Basket</div>
      <div class="price"> 12.50</div>
      <p>Includes Onion Kulcha, Lacha Paratha & Naan</p>
    </li> -->

  </ul>
</div>


<a href="/assets/menu/3-Verandah-Dinner-Menu-2019.pdf" class="btn btn-download" download> Download Dinner Menu</a> <a href="/assets/menu/3-Verandah-Dinner-Menu-2019.pdf" target="_blank" class="btn btn-readmore"> READ MORE</a>
