<ngb-carousel>
  <ng-template ngbSlide>
    <img class="d-block w-100 img-fluid" src="../../assets/images/4.jpg" alt="First slide">
    <!-- <div class="carousel-caption">
        <h3>Second slide label</h3>
    </div> -->
    <div class="shadow-overlay"></div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block w-100 img-fluid" src="../../assets/images/5.jpg" alt="Second slide">
    <!-- <div class="carousel-caption">
        <h3>Second slide label</h3>
    </div> -->
    <div class="shadow-overlay"></div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block w-100 img-fluid" src="../../assets/images/6.jpg" alt="Third slide">
    <!-- <div class="carousel-caption">
        <h3>Second slide label</h3>
    </div> -->
    <div class="shadow-overlay"></div>
  </ng-template>
  <!-- <ng-template ngbSlide>
    <img class="d-block w-100 img-fluid" src="../../assets/images/7.jpg" alt="Fourth slide">
    <div class="shadow-overlay"></div>
  </ng-template> -->
</ngb-carousel>
