<div id="press-content" class="scroll-content">
<p>
    <a href="http://houston.culturemap.com/news/restaurants-bars/03-29-19-whats-eric-eating-podcast-verandah-progressive-indian-restaurant-anumpama-sunil-srivastava/#slide=0" target="_blank">
http://houston.culturemap.com/news/restaurants-bars/03-29-19-whats-eric-eating-podcast-verandah-progressive-indian-restaurant-anumpama-sunil-srivastava/#slide=0
    </a>
</p>


<p><a href="https://houstonfoodfinder.com/2019/03/11/the-hit-list-new-houston-restaurants-to-visit-in-march-2019/" target="_blank">https://houstonfoodfinder.com/2019/03/11/the-hit-list-new-houston-restaurants-to-visit-in-march-2019/</a></p>
<p><a href="http://houston.culturemap.com/news/restaurants-bars/02-14-19-where-to-eat-february-truth-barbeque-decatur-bar-verandah-2840-dukessa-mastrantos/#slide=0" target="_blank">http://houston.culturemap.com/news/restaurants-bars/02-14-19-where-to-eat-february-truth-barbeque-decatur-bar-verandah-2840-dukessa-mastrantos/#slide=0</a></p>
<p><a href="https://www.houstoniamag.com/articles/2019/2/11/kebabs-verandah-indian-restaurant-upper-kirby" target="_blank">https://www.houstoniamag.com/articles/2019/2/11/kebabs-verandah-indian-restaurant-upper-kirby</a></p>

<p><a href="https://www.chron.com/entertainment/restaurants-bars/article/First-look-Verandah-Progressive-Indian-Restaurant-13606925.php" target="_blank">https://www.chron.com/entertainment/restaurants-bars/article/First-look-Verandah-Progressive-Indian-Restaurant-13606925.php</a></p>

<p><a href="https://houston.eater.com/2019/2/8/18217140/verandah-progressive-indian-restaurant-upper-kirby-open" target="_blank">https://houston.eater.com/2019/2/8/18217140/verandah-progressive-indian-restaurant-upper-kirby-open</a></p>



<div class="wk-address">
  <h3>Verandah</h3>
  <p>Progressive Indian Cuisine</p>
   <p class="mt-3">
     Kirby Collection, 3300 Kirby Drive, Suite A, Houston, TX 77098
     </p>
     <p class="mt-2 lead"> <i class="fas fa-phone-square"></i>     <a href="tel:+12815010258" class="telephone">(281) 501 0258</a> /  &nbsp;<a class="telephone" href="tel:+18328864291">(832) 886 4291</a>
       </p>
      <p class="mt-2 lead"> <i class="fas fa-envelope"></i> <a href="mailto:verandah@verandahrestaurant.com">verandah@verandahrestaurant.com</a> </p>
</div>
</div>
