<div id="chef-scroller"  class="scroll-content">
<p>Chef Sunil's Tasting Menu Table is now available Sundays through Wednesdays by reservation for groups who want to explore 5-9 course meals of specially-created dishes designed by request.</p>

<p>Unlike most chef's tasting menus, Verandah’s will be directed by guests and then designed by Chef Sunil.</p>

<p>To reserve the Chef's Tasting Menu Table, call <a href="tel:+12815010258" class="telephone">(281) 501 0258</a> or  &nbsp;<a class="telephone" href="tel:+18328864291">(832) 886 4291</a> at least one day in advance and decide on what kind of menu is desired. The price per person will be determined by the number of courses and the type of theme. Parties must be a minimum of four and a maximum of six (larger parties can be arranged for, but seating will be in another part of the restaurant). All reservations must be secured with a credit card, and there is a cancellation fee.</p>

<p>Wine pairings with the tasting can be arranged.</p>



<h3>Chef's Tasting Menu</h3>
<div class="h4">Chutney Tasting</div>
<p>(Six Chutney, Methi Mathari)</p>

<div class="h4">Shakarkand ki Chaat , Mutter ki Ghugni</div>

<div class="h4">Beetroot, Peanut ke Gilawat, Dijon Mustard, Dahi ki Chutney  (Or) <br />
Shallow Fried Cod Amritsari, Spanish Onion Marmalade</div>






</div>
<a href="/assets/menu/6-Chef-Tasting-Menu-Verandah-2019.pdf" class="btn btn-download" download> Download Chef's Tasting Menu</a> <a href="/assets/menu/6-Chef-Tasting-Menu-Verandah-2019.pdf" target="_blank" class="btn btn-readmore"> READ MORE</a>
